# URL pública oficial da Tw Store no Railway
PUBLIC_BASE_URL=https://tw-store-application.up.railway.app

# URL usada pelo aplicativo Android durante a compilação
TW_STORE_SERVER_URL=https://tw-store-application.up.railway.app
